.item {
    margin: 1rem 0;
  }
  
  .image {
    padding-top: 50px;
    text-align: center;
    
  }
  img {
    border-radius: 30px;
  }
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #000000;
    z-index: 1;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }

  :root {
    --danceBox: 0;
    --energyBox: 0;
    --acousticBox: 0;
    --valenceBox: 0;
  }

  /* DANCE BOX */

  .box_dance
  {
    background:rgb(119, 218, 134);
    width:300px;
    height:300px;
    display:inline-block;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-direction:row;
    box-shadow:0 20px 30px rgba(0,0,0,.4);
    transition: transform .2s;
    border-radius: 30px;
    padding: 2%;
    margin-bottom: 8%;
    margin-right: 4%;
  }
  .box_dance:hover
  {
   transform:scale(1.2);
  }
  .box_dance .percent
  {
    width:150px;
    height:150px;
    position:absolute;
    top: 20%;
    right: 27%;
  }
  .box_dance .percent svg
  {
    width:150px;
    height:150px;
    position:relative;
    
  }
  .box_dance .percent svg circle
  {
    width:150px;
    height:150px;
    fill:none;
    stroke-width:10;
    stroke:#000;
    transform:translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap:round;
    
  }
  .box_dance .percent svg circle:nth-child(1)
  {
    stroke-dashoffset:0;
    stroke:#d0cdcd; 
  }
  .box_dance .percent svg circle:nth-child(2)
  {
    stroke-dashoffset:calc(440 - (440 * var(--danceBox)) / 100); /* Change the number here for perecent*/
    stroke:#0a9331;
    
  }
  .box_dance .percent .num
  {
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
    
  }
  .box_dance .percent .num h2
  {
    font-size:48px;
    position: absolute;
    right: 22%;
    top: .1px
  }
  .box_dance .percent .num h2 span
  {
    font-size:24px;
  }
  .box_dance .text
  {
    padding: 10px 0 0;
    color:rgb(0, 0, 0);
    font-weight:700;
    letter-spacing:1px;
    position: absolute;
    right: 25.5%;
    top: 65%
  }

  /* ENERGY BOX */

  .box_energy
  {
    background:rgb(229, 116, 116);
    width:300px;
    height:300px;
    display:inline-block;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-direction:row;
    box-shadow:0 20px 30px rgba(0,0,0,.4);
    transition: transform .2s;
    border-radius: 30px;
    padding: 2%;
    margin-bottom: 8%;
    margin-right: 4%;
  }
  .box_energy:hover
  {
   transform:scale(1.2);
  }
  .box_energy .percent
  {
    width:150px;
    height:150px;
    position:absolute;
    top: 20%;
    right: 27%;
  }
  .box_energy .percent svg
  {
    width:150px;
    height:150px;
    position:relative;
  }
  .box_energy .percent svg circle
  {
    width:150px;
    height:150px;
    fill:none;
    stroke-width:10;
    stroke:#000;
    transform:translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap:round;
  }
  .box_energy .percent svg circle:nth-child(1)
  {
    stroke-dashoffset:0;
    stroke:#d0cdcd;
  }
  .box_energy .percent svg circle:nth-child(2)
  {
    stroke-dashoffset:calc(440 - (440 * var(--energyBox)) / 100); /* Change the number here for perecent*/
    stroke:#b90e0e;
  }
  .box_energy .percent .num
  {
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
  }
  .box_energy .percent .num h2
  {
    font-size:48px;
    position: absolute;
    right: 22%;
    top: .1px
  }
  .box_energy .percent .num h2 span
  {
    font-size:24px;
  }
  .box_energy .text
  {
    padding: 10px 0 0;
    color:rgb(0, 0, 0);
    font-weight:700;
    letter-spacing:1px;
    position: absolute;
    right: 36.5%;
    top: 65%
  }

  /* ACOUSTIC BOX */

  .box_acoustic
  {
    background:rgb(126, 195, 240);
    width:300px;
    height:300px;
    display:inline-block;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-direction:row;
    box-shadow:0 20px 30px rgba(0,0,0,.4);
    transition: transform .2s;
    border-radius: 30px;
    padding: 2%;
    margin-bottom: 8%;
    margin-left: 4%;
  }
  .box_acoustic:hover
  {
   transform:scale(1.2);
  }
  .box_acoustic .percent
  {
    width:150px;
    height:150px;
    position:absolute;
    top: 20%;
    right: 27%;
  }
  .box_acoustic .percent svg
  {
    width:150px;
    height:150px;
    position:relative;
  }
  .box_acoustic .percent svg circle
  {
    width:150px;
    height:150px;
    fill:none;
    stroke-width:10;
    stroke:#000;
    transform:translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap:round;
  }
  .box_acoustic .percent svg circle:nth-child(1)
  {
    stroke-dashoffset:0;
    stroke:#d0cdcd;
  }
  .box_acoustic .percent svg circle:nth-child(2)
  {
    stroke-dashoffset:calc(440 - (440 * var(--acousticBox)) / 100); /* Change the number here for perecent*/
    stroke:#172bc4;
  }
  .box_acoustic .percent .num
  {
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
  }
  .box_acoustic .percent .num h2
  {
    font-size:48px;
    position: absolute;
    right: 22%;
    top: .1px
  }
  .box_acoustic .percent .num h2 span
  {
    font-size:24px;
  }
  .box_acoustic .text
  {
    padding: 10px 0 0;
    color:rgb(0, 0, 0);
    font-weight:700;
    letter-spacing:1px;
    position: absolute;
    right: 25%;
    top: 65%
  }

  /* VALENCE BOX */

  .box_valence
  {
    background:rgb(240, 234, 150);
    width:300px;
    height:300px;
    display:inline-block;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-direction:row;
    box-shadow:0 20px 30px rgba(0,0,0,.4);
    transition: transform .2s;
    border-radius: 30px;
    padding: 2%;
    margin-bottom: 8%;
    margin-left: 4%;
  }
  .box_valence:hover
  {
   transform:scale(1.2);
  }
  .box_valence .percent
  {
    width:150px;
    height:150px;
    position:absolute;
    top: 20%;
    right: 27%;
  }
  .box_valence .percent svg
  {
    width:150px;
    height:150px;
    position:relative;
  }
  .box_valence .percent svg circle
  {
    width:150px;
    height:150px;
    fill:none;
    stroke-width:10;
    stroke:#000;
    transform:translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap:round;
  }
  .box_valence .percent svg circle:nth-child(1)
  {
    stroke-dashoffset:0;
    stroke:#d0cdcd;
  }
  .box_valence .percent svg circle:nth-child(2)
  {
    stroke-dashoffset:calc(440 - (440 * var(--valenceBox)) / 100); /* Change the number here for perecent*/
    stroke:#aaa20c;
  }
  .box_valence .percent .num
  {
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
  }
  .box_valence .percent .num h2
  {
    font-size:48px;
    position: absolute;
    right: 22%;
    top: .1px
  }
  .box_valence .percent .num h2 span
  {
    font-size:24px;
  }
  .box_valence .text
  {
    padding: 10px 0 0;
    color:rgb(0, 0, 0);
    font-weight:700;
    letter-spacing:1px;
    position: absolute;
    right: 35%;
    top: 65%
  }

  .division {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    display: flex;
  }

  .left_half {
    background-color:rgb(255, 255, 255);
    flex: 1;
    padding: 1rem;
  }

  .right_half {
    background-color:navajowhite ;
  }